header{
    display:flex;
    width:100;
    justify-content: space-between;
}
.new-list{
    display:flex;
    gap:20px;

}

    
a{
text-decoration: none;
color:black
}
li{
    list-style:none;
}
.hero-img{
    width: 100%;

}
.hero-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.hero-div>img{
    width: 400px;
    height: 400px;
    border-radius:100%;
    object-fit: cover;
}
.para-container{
    width: 35%;
    text-align: center;
}
.text-lg{
    font-size: 28px;
}
.text-md{
    font-size: 24px;
}
.text-blue{
    color:blue;
}
#hero{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
#About{
    display:flex;
    justify-content: center;
}
#Contact{
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.text-md > a{
    color: blue;
}
.victory-img{
    width: 250px;
    border-radius: 10px;
    transition: 0.15s ease-in-out;
    box-shadow: 0px 2px 4px black;
}
.victory-img:hover{
transform: translateY(10px);
}
#victory{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
footer{
    text-align: center;
    padding: 4px;
    width:100%;
    margin-top: 60px;
}